<div class="input-container container">
  <form [formGroup]="loginForm" (ngSubmit)="submit()">
    <h1>Login</h1>
    <div>
      <text-input
        [control]="fc['email']"
        [showErrorsWhen]="isSubmitted"
        type="email"
        label="Email">
      </text-input>
    </div>
    <div>
      <text-input
        [control]="fc['password']"
        [showErrorsWhen]="isSubmitted"
        type="password"
        label="Password">
      </text-input>
    </div>
    <default-button
      text="Login"></default-button>
  </form>

</div>
