<p>animals works!</p>
<h2>Top Heroes</h2>
<!--<div >-->
<!--  <ul></ul>-->
<!--  <li *ngFor="let animal of animals"><a-->
<!--    routerLink="/detail/{{animal.id}}">-->
<!--    {{animal.name}}-->
<!--  </a></li>-->

<!--</div>-->
<div class="demo-button-container">
  <button mat-raised-button (click)="addData()" class="demo-button">
    Add data
  </button>
  <button
    mat-raised-button
    [disabled]="!dataSource.length"
    (click)="removeData()"
    class="demo-button">
    Remove data
  </button>
</div>

<table mat-table [dataSource]="animals" class="mat-elevation-z8 demo-table">
  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>No.</th>
    <td mat-cell *matCellDef="let animal">{{animal.id}}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let animal">{{animal.name}}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef>Type</th>
    <td mat-cell *matCellDef="let animal">{{animal.type}}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="breed">
    <th mat-header-cell *matHeaderCellDef>Breed</th>
    <td mat-cell *matCellDef="let animal">{{animal.breed}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
