<nav>
  <img class="img-responsive" src="/assets/monkeyanimalicon.svg" alt="image" />
  <a>Online Veterinary Cabinet</a>
  <ul>

    <li href="#">
      <button mat-button mat-raised-button color="primary" routerLink="/events"> Events</button>
    </li>
    <li>
      <button mat-button mat-raised-button color="primary" routerLink="/animals">Animals</button>
    </li>
    <li>
      <button mat-button mat-raised-button color="primary" routerLink="/calendar">Calendar</button>
    </li>
    <li href="#">
      <button mat-button mat-raised-button color="primary" routerLink="/humans"> Humans</button>
    </li>
    <li href="#">
      <button mat-button mat-raised-button color="primary" routerLink="/about">About</button>
    </li>
    <li href="/login">
      <button mat-button mat-raised-button color="primary" routerLink="/login">Login</button>
    </li>
  </ul>
</nav>
